/*
How to comment in css. forward slash star and close it with star forward slash
*/

#content{
  color:green;
}
body{
  background-color:purple;
  text-align:center;

}

#container{
  background-color:orange;
  margin:50px;
  border-radius:50px;
  padding:20px;
}
    
img {
  height:200px;
}

#gallery img{
  height:125px;
}

#gallery input[type=button]{
  background-color:red;
  color:blue;
  font-size:bolder;
  padding:15px;
  margin:4px;
}